---
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Shemin" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I’m a theme for Astro, an example of how you can use this starter to create a personal
			blog. If you want to know more about how you can customise me, add more posts, and make it
			your own, click on the github icon link below and it will take you to my repo.
		</p>
		<SocialList />
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Professional experience</h2>
		<ul class="space-y-4">
			<li>Something</li>
			<li>Something</li>
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Hobby projects</h2>
		<ul class="space-y-4">
			<li>Something</li>
			<li>Something</li>
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Publications</h2>
		<dl class="space-y-4">
			<dt>Something here</dt>
			<dt>Something here</dt>
		</dl>
	</section>
</PageLayout>
